<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>Introduction of this experiment</p>
    <div class="buttons">
      <a class="btn btn-info" href="/test/">Go to the test</a>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
