<div id = "result" v-cloak>
	<div class="container">
		<hr/>
		<div class="rows">
			<p>Congratulations! You've completed the test! Here is the test result for you!</p>
			
		</div>
		<div class="rows">
			<p>The accuracy is <%=accuracy%>%. </p> 
		</div>
		<div class="rows">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<%for (var i = 0; i < matrix[0].length; i++) {%>
							<th scope="col"><%=classList[i]%></th>
						<%}%>
					</tr>
				</thead>
				<tbody>
					<%for (var i = 0; i < matrix[0].length; i++) {%>
						<tr>
							<th scope="row"><%=classList[i]%></th>
							<%for (var j = 0; j < matrix[0].length; j++) {%>
								<td><%=matrix[i][j]%></td>
							<%}%>
						</tr>
					<%}%>
				</tbody>
			</table>
		</div>
	</div>
		
</div>