<div id = "usertest" v-cloak>



	<div class="container">
	  	<hr/>
	  	<form action="updateUserFeedback">
		    <%for (var i = 0; i < me.classList.split(",").length; i++) {%>
					<input type="radio" name="predictedClass" value="<%= me.classList.split(",")[i] %>"><%= me.classList.split(",")[i] %><br>
			<% } %>
			
	        <input type="submit"class="btn-dark btn-lg btn-block">Submit</input>
	        

	  	</form>
		
	

	</div>
	


</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>